body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    height: 6vh;
    margin-top: auto;
}

footer a {
    color: #bcbcbc;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #fff;
}