.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    height: 94vh;
}

.home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}