.pokemonPage {
  background-color: #314551;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.nameId {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 60px;
}

.pokemonSection {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonImg {
  width: 300px;
  cursor: pointer;
}

.smallImages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 16px 64px;
    border-left: 4px solid #f5f5f5;
}

.pokemonInfo h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pokemonInfo p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.pokemonTypes {
  display: flex;
  justify-content: flex-start;
  gap: 64px;
}

#types img {
  padding: 16px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.pokemonAbilities {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
}

#abilities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    padding-top: 40px;
    text-decoration: none;
    color: #000;
}

#abilities li {
    list-style: none;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
}

.pokemonStats {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
}

#stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
    gap: 28px;
    text-decoration: none;
    color: #000;
}

#stats li {
    list-style: none;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
}

.pokemonEvolution {
    display: flex;
    justify-content: flex-start;
    gap: 64px;
}

#evolution {
    margin-top: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    background-color: #f5f5f5;
}