.pokedexSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokedexSection > .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 32px;
}

.pokedexSection h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.pokedexSection p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.searchFilter {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#search {
    width: 50%;
    height: 40px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-align-last: center;
    margin-bottom: 1rem;
}

.filter {
    width: 160px;
    height: 40px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-align-last: center;
}

.filter > option {
    font-size: 16px;
    text-align: center;
    text-align-last: center;
}

.pokemonList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-inline: 64px;
    padding-bottom: 32px;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    border: 4px solid;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.pokemonCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pokemonCard > img {
    width: 50%;
    height: auto;
}

.pokemonCard > h2 {
    font-size: 1.5rem;
}

.pokemonCard > p {
    font-size: 1rem;
}

.pokemonCard ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
}

@media screen and (max-width: 1400px) {
    .pokemonList {
        grid-template-columns: repeat(3, 1fr);
    }

    .intro {
        padding-inline: 8px;
        gap: 8px;
    }

    .filter {
        width: 120px;
        height: 32px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .pokemonList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .pokemonList {
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 32px;
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }
  
.bounce {
    animation: bounce 1s ease infinite;
    transform-origin: center bottom;
}